<!DOCTYPE html>
<html>
<head>
  <title>Antenna</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1>あんてなてな</h1>
  </header>
    <main>
      <%= yield %>
    </main>
  <footer>
    <p>Shohei Miyashita All Right Reserved</p>
  </footer>
</body>
</html>
